{% load static %}
{% load index_tags %}

<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <div class="footer__column">
                <h3 class="footer__title">About</h3>
                <div>{{ about }}</div>
            </div>

            <div class="footer__column">
                <h3 class="footer__title">Categories</h3>
                <ul class="footer__menu">
                    {%getcats as cats%}
                    <li><a href="{% url 'home' %}">All categories</a></li>
                    {% for cat in cats %}
                    <li><a href="{{cat.get_absolute_url}}">{{cat.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="footer__column">
                <h3 class="footer__title">Quick Links</h3>
                <ul class="footer__menu">
                    {% for item in menu %}
                        <li><a href="{% url item.url_name %}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <p class="footer__copyright">&copy; Computer Games 2023</p>
    </div>
</footer>